/*General element*/
html{
    background-color: #F5F9E9;
}
body{
    width: 80%;
    background-color: #0F8A5F;
    color: floralwhite;
    font-family: 'Lora', serif;
    font-weight: 400;
    margin: auto;
}

/*Header part*/

.nav-container{
    position: fixed;
    width: 80%;
    background-color: #F5624D;
    display: flex;
    flex-wrap: wrap;
}

header{
    width: 20%;
    display: flex;
    justify-content: center;
}
.logo{
    position: relative;
}
.logo img{
    max-width: 70%;
    max-height: 70%;
    margin: 0.5rem;
}


/*Navigation bar*/
.nav-bar{
    width: 80%;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
    justify-content: right;
    padding: 2rem;
    margin: 0;
}
.nav-bar-button{
    text-align: center;
    padding: 1rem;
}
.nav-btn{
    text-decoration: none;
    font-weight: 700;
    color: #0F8A5F;
    position: relative;
    margin: 0 2rem;
    font-size: 1.2rem;
}
.nav-btn::before{                              /*underline effect*/
  transition: 300ms;
  height: 15px;
  content: "";
  position: absolute;
  background-color: #0F8A5F;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 20px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
.nav-btn:hover{
    color: #34A65F;
}

/*Instruction main page*/

.instructions{
    padding: 15rem 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    /*grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    grid-template-areas:
                "picture story story"
                "picture story story"
                ;*/
}

.figure{
    width: 30%;
}
.stick-man{
    max-width: 50%;
    margin: 3rem;

}
.story-line{
    width: 70%;
    box-sizing: border-box;
    padding: 3rem;
    border: 0.5rem dotted #F5624D;
    border-radius: 12px;
}

.instructions-button{
    margin: 1.5rem 4rem;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #ffffff;
    background: #34A65F;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.instruction-button:hover{
    background: #0F8A5F;
    text-decoration: none;
}


/*Main game page*/

.main-program{
    padding: 10rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "maps score"
            "maps main-game"
            "weather main-game";
    column-gap: 2%;
    row-gap: 2%;
}
.maps{
    background-color: yellowgreen;
    grid-area: maps;
}
.weather{
    background-color: indigo;
    grid-area: weather;
}
.score-board{
    background-color: darkorange;
    grid-area: score;
}
.main-game{
    background-color: darkseagreen;
    grid-area: main-game;
}

/*Exit page*/

.exit-page{
    padding-top: 10rem;
    text-align: center;
}

.exit-page img{
    max-width: 40%;
}

/*Snowflake fall effect*/

.snowflake {
  color: #fff;


  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}